<%-include ("header")-%>

<div>
    <p class="about_desc"> this is a todo web page designed by Aditya Ajay.
        I am a final year ECE student at National Institue of Technology Agartala.
        Thanks for using my website <i class="fa-regular fa-face-smile"></i>
    </p>
</div>

<div class="Home">
    <a href="/">home</a>   
</div>

<%-include ("footer")-%>